# Preparation
* We begin by importing the data from the CSV file

In [3]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("iris.data", header=None)
df.columns = ['sepal length in cm', 'sepal width in cm', 'petal length in cm', 'petal width in cm', 'class label']
raw_data = df[df.columns[:-1]].values

In [5]:
df.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class label
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [6]:
df.tail()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class label
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

# Step 1: Compute Mean Vectors
* For each class, we must construct a vector of the means of all of its features.

In [7]:
setosas = df.loc[df['class label'] == 'Iris-setosa']
versicolors = df.loc[df['class label'] == 'Iris-versicolor']
virginicas = df.loc[df['class label'] == 'Iris-virginica']

In [8]:
overall_mean = np.mean(df)
mean_setosas = np.mean(setosas)
mean_versicolors = np.mean(versicolors)
mean_virginicas = np.mean(virginicas)

# Step 2: Compute Scatter-Within matrices for each class
* For each class, we must construct scatter-within matrices

In [34]:
# We must compute Sc for each class
Sc_setosas = np.zeros((4,4))
setosas_col_means = mean_setosas.values.reshape(4,1)
for row in setosas[setosas.columns[:-1]].values:
    row = row.reshape(4,1)
    Sc_setosas += (row - setosas_col_means).dot((row - setosas_col_means).T)
print(Sc_setosas)
    
#print((setosas[setosas.columns[:-1]].values[0] - mean_setosas.values))

    
#Sb_setosas = len(setosas) * (mean_setosas.values.reshape(4,1) - overall_mean.values.reshape(4,1)).dot((mean_setosas.values.reshape(4,1) - overall_mean.values.reshape(4,1)).T)
#Sb_versicolors = len(versicolors) * (mean_versicolors.values.reshape(4,1) - overall_mean.values.reshape(4,1)).dot((mean_versicolors.values.reshape(4,1) - overall_mean.values.reshape(4,1)).T)
#Sb_virginicas = len(virginicas) * (mean_virginicas.values.reshape(4,1) - overall_mean.values.reshape(4,1)).dot((mean_virginicas.values.reshape(4,1) - overall_mean.values.reshape(4,1)).T)
#Sb = sum([Sb_setosas, Sb_versicolors, Sb_virginicas])
#print(Sb)

#Sw_setosas = setosas[setosas.columns[:-1]].values - mean_setosas.values
#Sw_versicolors = versicolors[versicolors.columns[:-1]].values - mean_versicolors.values
#Sw_virginicas = virginicas[virginicas.columns[:-1]].values - mean_virginicas.values
#Sw = sum([Sw_setosas, Sw_versicolors, Sw_virginicas])
#print(len(setosas))
#Sb_setosas = len(setosas)* np.dot((mean_setosas - overall_mean),(mean_setosas - overall_mean).T)
#Sb_versicolors = len(versicolors)* np.dot((mean_versicolors - overall_mean),(mean_versicolors - overall_mean).T)
#Sb_virginicas = len(virginicas)* np.dot((mean_virginicas - overall_mean),(mean_virginicas - overall_mean).T)
#Sb = sum([Sb_setosas, Sb_versicolors, Sb_virginicas])
#print(Sb)

[[6.0882 4.9146 0.7908 0.5168]
 [4.9146 7.1138 0.5724 0.5604]
 [0.7908 0.5724 1.4752 0.2792]
 [0.5168 0.5604 0.2792 0.5632]]

# Step 3: Compute Eigenvectors and Eigenvalues from Sb and Sw